.first {color:blanchedalmond; text-decoration: wavy;}

.second {color:blue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.third {color: aquamarine; font-family: fantasy;}

.fourth {color: brown; font-family: cursive;}

.fifth {color: purple; text-decoration: line-through;}

.sixth {color:red; text-decoration: wavy; }

.seventh {color: aqua; text-decoration: dashed;}

.eight {color:beige; text-decoration: underline;}

.ninth{color: antiquewhite; text-decoration: dotted;}

.tenth{color: aliceblue; text-decoration: solid;}